@{
    ViewBag.Title = "Index"; // Establece el título de la página
    Layout = "~/Views/Shared/_Layout.cshtml"; // Asegúrate de que el path sea correcto


}

<h2>Index</h2>

<p>No Account yet? @Html.ActionLink("Signup Now!", "SignUp", "Account")</p>
